<!-- <app-navbar></app-navbar>
<!DOCTYPE html>
<html>
<body>
<div class="container">
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Table Number</th>
        <th>Booked</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <tr *ngFor="let item in reservationDetails">
            <td>{{tableNumber}}</td>
            <td [class]="item.isBooked ? "color:red":"color:green" >{{Booked}}</td>
            <td>{{date}}</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
</body>
</html> -->
