.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #45526e;
    height: 5%;
    color: white;
    text-align: center;
    margin: auto;
  }
  /*.navbar{
    margin-bottom: 0% !important;
  }
  .routeroutlet
  {
    position: absolute;
    width: 100%; 
    height:100%
  }*/

  .example-spacer {
    flex: 1 1 auto;
  }

  .nav-button{
    margin-left:1%
  }
  