<!-- <!-- <form [formGroup]='reactiveFormBook' (ngSubmit)="onSubmit(reactiveFormBook.value)" >
    <mat-card-header>
        <mat-card-title>Update Book Data</mat-card-title>
    </mat-card-header>
    <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="space-between stretch">
                <mat-form-field appearance="fill">
                    <mat-label >Id</mat-label>
                    <input matInput type="text" formControlName="Id">
                  </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label >Name</mat-label>
                    <input matInput type="text" formControlName="Name">
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Genere</mat-label>
                    <input matInput type="text" formControlName="Genere">
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label >AuthorName</mat-label>
                    <input matInput type="text" formControlName="AuthorName">
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label >Description</mat-label>
                    <input matInput type="text" formControlName="Description">
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Content</mat-label>
                    <input matInput type="text"  formControlName="Content">
                  </mat-form-field>
            </div>
    </mat-card-content>
    <mat-card-actions >
        <button type="submit" mat-raised-button color="primary">Submit</button>
    </mat-card-actions>

    -->
<!-- 
    <div class="example-container mat-elevation-z8">
    
        <mat-card class="example-card">
    
            <form [formGroup]="empForm" (ngSubmit)="onSubmit()">
    
                <mat-form-field>
    
                    <input matInput placeholder="Enter Book Id" formControlName="id" [(ngModel)]="user.id">
    
    
    
                    <mat-error>
    
                        <span *ngIf="!empForm.get('id')?.valid && empForm.get('id')?.touched">Id Required</span>
    
                    </mat-error>
    
                </mat-form-field>
    
                <mat-form-field>
    
                    <input matInput placeholder="Enter Book Title" formControlName="Name" [(ngModel)]="user.Name">
    
    
    
                    <mat-error>
    
                        <span *ngIf="!empForm.get('Name')?.valid && empForm.get('Name')?.touched">Title Required</span>
    
                    </mat-error>
    
                </mat-form-field>
                <mat-form-field>
    
                    <input matInput formControlName="Genere" placeholder="Enter Catagory" [(ngModel)]="user.Genere">
    
    
    
                    <mat-error>
    
                        <span *ngIf="!empForm.get('Genere')?.valid && empForm.get('Genere')?.touched">Catagory
                            Required</span>
    
                    </mat-error>
    
                </mat-form-field>
    
                <mat-form-field>
    
                    <input matInput placeholder="Enter Author " formControlName="AuthorName" [(ngModel)]="user.AuthorName">
    
    
    
                    <mat-error>
    
                        <span *ngIf="!empForm.get('author')?.valid && empForm.get('AuthorName')?.touched">Author
                            Required</span>
    
                    </mat-error>
    
                </mat-form-field>
    
    
    
                <mat-form-field>
    
                    <input matInput formControlName="Description" placeholder="Enter Year" [(ngModel)]="user.Description">
                    <mat-error>
    
                        <span *ngIf="!empForm.get('Description')?.valid && empForm.get('Description')?.touched"> Year
                            Required</span>
    
                    </mat-error>
    
                </mat-form-field>
    
                <mat-form-field>
    
                    <input matInput formControlName="Content" placeholder="Enter Date" [(ngModel)]="user.Content">
    
    
    
                    <mat-error>
    
                        <span *ngIf="!empForm.get('Content')?.valid && empForm.get('Content')?.touched"> Date
                            Required</span>
    
                    </mat-error>
    
                </mat-form-field>
    
    
    
                <div class="button-row">
    
                    <button mat-flat-button color="primary" type="submit" [disabled]="!empForm.valid">
                        <mat-icon>save</mat-icon>
                    </button>
    
                </div>
    
            </form>
    
        </mat-card>
    
    </div> --> -->