<!--<div>
    <div style="position: relative;width: 100%;">
    <nav class="navbar navbar-default" style="margin-bottom: 0%;">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li>
              <a href="https://www.euromonitor.com/"><img src="https://www.euromonitor.com/content/images/logos/emi-logo.svg" style="width: 100%;padding: 1%;" ></a> 
            </li>
          </ul>
          <ul class="nav navbar-nav" style="padding-top:1.5%; margin-left: 10%;">
            <li>
              <h1 style="font-size: 300%;margin: auto;">REPORTS CRUD OPERATIONS</h1>
            </li>
          </ul>
        </div>
    </nav>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">    
        <ul class="nav navbar-nav">
          <li class="active"><a class="nav-link" routerLink="/reports-list">Reports List</a></li>
          <li><a class="nav-link" routerLink="/add">Add Report</a></li>
        </ul>
      </div>
    </nav>
    </div>
    <div class="routeroutlet" style="background-color: #cfe0dd;"><router-outlet></router-outlet></div>
    
    <div class="footer">
      <footer class="text-center text-lg-start text-white footer">       
        <div class="text-center p-3" style="padding: 0.5%;">
          © 2022 Copyright Euromonitor is privately owned & trademarked.
        </div>
    </footer>
    </div>
    </div>-->
    <p>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
        <a href="https://www.euromonitor.com/"><img src="https://www.euromonitor.com/content/images/logos/emi-logo.svg" style="width: 100%;padding: 1%;" ></a>
        <span class="example-spacer"></span>
        <span>REPORTS CRUD OPERATIONS</span>
        <span class="example-spacer"></span>
        <button class="btn btn-primary" mat-button> Home </button>
        <button class="btn btn-primary nav-button" mat-button> About </button>
        <button class="btn btn-primary nav-button" mat-button [routerLink]="'/reports-list'"> Reports Url's List </button>
        <button class="btn btn-primary nav-button" mat-button [routerLink]="['/add',1]"> Add Reports Url </button>
        
        </mat-toolbar-row>
      </mat-toolbar>
    </p>
  <router-outlet></router-outlet>
    <div class="footer">
      <footer class="text-center text-lg-start text-white footer">       
        <div class="text-center p-3" style="padding: 0.5%;">
          © 2022 Copyright Euromonitor is privately owned & trademarked.
        </div>
    </footer>
    
    
    
    
    
    
    