h1{
    margin-top:10px;
    text-align:center;
    font-size:50px;
    color:rgb(87,5,126);
    font-family:play;
    font-weight:bold;
    letter-spacing:5px;
  }
  div{
    margin-top:0px;
    text-align:center;
  }
  button{
      margin-right: 3rem;
  }
  .nav-bar{
      justify-content: space-between;

  }
  span{
      padding-left: 2rem;
  }
mat-drawer-container{
    height:100%;
}
mat-drawer, mat-drawer-content{
    padding: 16px;
}
mat-drawer{
     background-color:darkcyan; 
    width:200px;
}

